<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="error" fileName="${logDirectory}/error.txt"
            layout="${longdate}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="info" fileName="${logDirectory}/info.txt"
            layout="${longdate} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="debug" fileName="${logDirectory}/debug.txt"
            layout="${longdate}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" level ="error" writeTo="error" />
    <logger name="*" level ="info" writeTo="info" />
    <logger name="*" level ="debug" writeTo="debug" />
  </rules>
</nlog>